* {
    text-align: center;
}

html {
    background-color: bisque;
}

ul {
    list-style-position: inside;
    list-style: none;
}
li {line-height: 40px;}


img {
    margin-bottom: 50px;
    width: 500px;
    height: auto;
    margin-top: 50px;
}

.homepic {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 0px;
}